.flex-container {
    display: flex;
  justify-content: space-between;
  
  }
  

  .title{
    padding: 3%;
    font-size: 65px;
    color: #2B638C;
    font-family: 'Lato', sans-serif;
  
  }

  .hoved:hover{
    background-color: rgb(199, 202, 202);
    transition: background-color .5s;
  }
  