
<div class="row layout">

  <div class="col-sm p-3 min-vh-100 dimen" style="max-width: 27rem">
    <div>
      <h1 class="title">Empresas</h1>
      <br />

      <!--Buscador-->

      <div class="input-group" style="max-width: 25rem">
        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar"
          aria-describedby="search-addon"  />
        <span class="input-group-text border-0 sear" id="search-addon">
          <mat-icon>search</mat-icon>
        </span>
      </div>
      <br />
    </div>
    <div>
      <div>
        <em *ngIf="asc == false" matTooltip="Ordenar de manera ascendente." (click)="filter()"
          class="fa-solid fa-sort filt"></em>
        <em *ngIf="asc == true" matTooltip="Ordenar de manera descendente." (click)="filter()"
          class="fa-solid fa-sort filt"></em>
      </div>
      <div class="containerEnterprises">
        <div class="card" *ngFor="let enterprise of enterprises">
          <div  class="card-body hoved">
            {{ enterprise.name }}
          </div>
        </div>
      </div>
      <div class="flex-container">
        <em  class="fas fa-angle-double-left fa-2x " style="color: #12579c"></em>
        <em  class="fas fa-angle-double-right fa-2x " style="color: #12579c"></em>
      </div>
    </div>
  </div>
  <div class="col-sm p-3 min-vh-100 dim2" style="max-width: 47rem">
    <div class="resp hei">
      <div class="card cardHei" >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
  </div>   
  </div>
</div>