.flex-container {
    display: flex;
  justify-content: space-between;
  
  }
  

  .title{
    padding: 3%;
    font-size: 65px;
    color: #2B638C;
    font-family: 'Lato', sans-serif;
  
  }
  .fa-sort{
    position: relative;
    left: 95%;
    color: #12579C;
  }

  .colla{
    color: #2B638C;
    font-family: 'Lato', sans-serif;
   
  
  }
  .calcCard{
    height: 50px;
  }
  .buttons{
    padding-top: 5%;
  }
  .mat-form-field {
    width: 100%;
  }

  .calcBut{
    height: calc(100vh - (4px + 40px ));

  }
  
  @media  (min-width: 415px ) {
    .cardHei{
      height: calc(100vh - (5px + 5px + 5px + 5px + 2.5rem));
      
    }
    
  }
  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #12579c; /*replace with your color*/
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(118, 129, 233);  /*replace with your color*/
}
.butt2 {
  background-color: #12579C;
  height: 45px;
}

.hoved:hover{
  background-color: rgb(199, 202, 202);
  transition: background-color .5s;
}

.hoved{
  font-size: medium;
}


  @media  (min-width: 415px ) {
    .cardHei{
      height: calc(100vh - (2px + 3px + 3px  + 2.5rem));
    }
  }