<form #addForm="ngForm">
  <div class="col-sm p-3 min-vh-100 dim2">
    <div class="card border-primary">
      <div class="card-body">
        <!--Titulos y nombres-->

        <p class="fs-1 coll">Agregar</p>

        <br />

        <div>
          <div class="container card-0 justify-content-center">
            <div class="row">
              <div class="col-sm-6">

                <input
                name="name"
                #name="ngModel"
                [(ngModel)]="postUser.name"
                placeholder="Nombre de usuario"
                type="text"
                id="date-picker-example"
                required="true"
                class="form-control datepicker"
                style="font-family: Arial, FontAwesome"
              />
              </div>

              <div class="col-sm-6">

                <input
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="postUser.email"
                  placeholder="Correo"
                  type="text"
                  required="true"
                  class="form-control datepicker mb-4"
                  style="font-family: Arial, FontAwesome"
                />
              </div>

              <div class="col-sm-6 fort">
                <mat-form-field appearance="fill">
                  <mat-label>Selecciona tu perfil</mat-label>
                  <select
                    matNativeControl
                    name="status"
                    #status="ngModel"
                    [(ngModel)]="postUser.profile"
                  >
                    <option *ngFor="let info of profiles" [value]="info.id">
                      {{ info.name }}
                    </option>
                  </select>
                </mat-form-field>
                <div>
                  <em
                    (click)="goBackProfiles()"
                    class="back"
                    class="fas fa-angle-double-left fa-2x heed2, top-right"
                    style="color: #12579c"
                  ></em>
                  <em
                    class="ahead"
                    (click)="goAheadProfiles()"
                    class="fas fa-angle-double-right fa-2x heed, top-right"
                    style="color: #12579c"
                  ></em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="fs-4 dragd">Asignación de empresas</p>
        </div>

        <div cdkDropListGroup>
          <div class="example-container">
            <div
              cdkDropList
              [cdkDropListData]="listNumbers1"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let n of listNumbers1" cdkDrag>
                {{ n.name }}
              </div>
            </div>
            <div class="flex-container">
              <div>
                <em
                  class="back"
                  (click)="goBackEnterprise()"
                  class="fas fa-angle-double-left fa-2x drag1"
                  style="color: #12579c"
                ></em>
              </div>
              <div>
                <em
                  class="ahead"
                  (click)="goAheadEnterprise()"
                  class="fas fa-angle-double-right fa-2x drag2"
                  style="color: #12579c"
                ></em>
              </div>
            </div>
          </div>

          <div class="example-container">
            <div
              cdkDropList
              [cdkDropListData]="empresas"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" *ngFor="let n of empresas" cdkDrag>
                {{ n.name }}
              </div>
            </div>
            <div class="flex-container">
              <div>
                <em
                  class="back"
                  class="fas fa-angle-double-left fa-2x drag1"
                  style="color: #12579c"
                ></em>
              </div>
              <div>
                <em
                  class="ahead"
                  class="fas fa-angle-double-right fa-2x drag2"
                  style="color: #12579c"
                ></em>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-container">
          <button
            [disabled]="!addForm.form.valid"
            (click)="postUsers(addForm)"
            type="button"
            class="btn btn-primary butt2"
          >
            Guardar
          </button>
          <button
            type="button"
            (click)="closeDialog()"
            class="btn btn-primary butt2"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
