<form #addForm="ngForm">
  <div class="col-sm p-3 min-vh-100 dim2">
    <div class="card border-primary">
      <div class="card-body">
        <!--Titulos y nombres-->

        <p class="fs-1 coll">Agregar</p>
        <mat-slide-toggle [checked]="true" [disabled]="true">
          <div>Activo</div>
        </mat-slide-toggle>
        <br />

        <div>
          <div class="container card-0 justify-content-center">
            <div class="row">
              <div class="col-sm-6">
                <input
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="postUser.email"
                  placeholder="Correo"
                  type="text"
                  required="true"
                  class="form-control datepicker mb-4"
                  style="font-family: Arial, FontAwesome"
                />
              </div>

              <div class="col-sm-6">
                <input
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="postUser.name"
                  placeholder="Nombre de usuario"
                  type="text"
                  id="date-picker-example"
                  required="true"
                  class="form-control datepicker"
                  style="font-family: Arial, FontAwesome"
                />
              </div>

              <div class="col-sm-6 fort">
                <mat-form-field appearance="fill">
                  <mat-label>Selecciona tu perfil</mat-label>
                  <select
                    matNativeControl
                    name="status"
                    #status="ngModel"
                    [(ngModel)]="postUser.profile"
                  >
                    <option *ngFor="let info of profiles" [value]="info.id">
                      {{ info.name }}
                    </option>
                  </select>
                </mat-form-field>
                <div>
                  <em
                    (click)="goBackProfiles()"
                    class="back"
                    class="fas fa-angle-double-left fa-2x heed2, top-right"
                    style="color: #12579c"
                  ></em>
                  <em
                    class="ahead"
                    (click)="goAheadProfiles()"
                    class="fas fa-angle-double-right fa-2x heed, top-right"
                    style="color: #12579c"
                  ></em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="fs-4 dragd">Asignación de empresas</p>
        </div>
        <div class="row">
          <div
            cdkDropList
            class="col-6"
            #ln1="cdkDropList"
            [cdkDropListData]="listNumbers1"
            [cdkDropListConnectedTo]="[ln2]"
            (cdkDropListDropped)="drop($event)"
          >
            <option
              cdkDrag
              class="block block-1"
              *ngFor="let n of listNumbers1"
            >
              <span>{{ n.name }}</span>
            </option>
            <div class="flex-container">
              <div>
              <em
                class="back"
                class="fas fa-angle-double-left fa-2x drag1"
                style="color: #12579c"
  
              ></em>
            </div>
            <div>
  
              <em
                class="ahead"
                class="fas fa-angle-double-right fa-2x drag2"
                style="color: #12579c"
              ></em>
              
            </div>
  
            </div>
            <br />
          </div>
          <div
            cdkDropList
            class="col-6"
            #ln2="cdkDropList"
            [cdkDropListData]="empresas"
            [cdkDropListConnectedTo]="[ln1]"
            (cdkDropListDropped)="drop($event)"
          >
            <option cdkDrag class="block block-2" *ngFor="let n of empresas">
              <span>{{ n.name }}</span>
            </option>
            <div class="flex-container">
              <div>
              <em
                class="back"
                class="fas fa-angle-double-left fa-2x drag1"
                style="color: #12579c"
  
              ></em>
            </div>
            <div>
  
              <em
                class="ahead"
                class="fas fa-angle-double-right fa-2x drag2"
                style="color: #12579c"
              ></em>
            </div>
  
            </div>
            
          </div>
     
        </div>
        <br />
        <div>
          <button
            [disabled]="!addForm.form.valid"
            (click)="postUsers(addForm)"
            type="button"
            class="btn btn-primary butt2"
          >
            Guardar
          </button>
          <button
            type="button"
            (click)="closeDialog()"
            class="btn btn-primary butt2"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
