
.example-button-container{
  padding-top: 50%;
}

.positionn{
  position: relative;
}

.title{
  padding: 3%;
  font-size: 65px;
  color: #2B638C;
  font-family: 'Lato', sans-serif;

}

.card-body{
  padding-top: 5%;
}

.perf{
  padding-top: 100%;
}
.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dimen{
  padding: 100%;
}

.tabod{
  border-radius: 50%;
}

.hoved:hover{
  background-color: rgb(199, 202, 202);
  transition: background-color .5s;  }

  .btnn:hover{
      background-color: rgb(199, 202, 202);
      transition: background-color .5s;  }



.princ{
  background-color: #F0F0F0;
}
.sidenav{
  background-color: #12579C;
}

.coll{
  color: #2B638C;
  font-family: 'Lato', sans-serif;


}
.pat{
  position: absolute;
  height: 9%;
  right: 50%;
}
/*Comentario*/



.block {
  height: 50px;
  font-size: 19px;
  padding: 10px;
  border: 1px solid #000;
}

.butt{
  position: absolute;
left: 85%;
background-color: #12579C   ;

}

.butt2{
  background-color: #12579C   ;
}

.dragd{
  text-align: center;
  color: #12579C;
  font-family: 'Lato', sans-serif;
}

.botdrag{
  background-color: #12579C   ;
}


.flex-container {
  display: flex;
justify-content: space-between;  }


.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}