
.example-button-container{
    padding-top: 50%;
}

.positionn{
    position: relative;
}
 
.title{
    padding: 3%;
    font-size: 65px;
    color: #2B638C;
    font-family: 'Lato', sans-serif;

}

.card-body{
    padding-top: 5%;
}

.perf{
    padding-top: 100%;
}
.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .dimen{
    padding: 100%;
  }

  .tabod{
    border-radius: 50%;
  }

  .hoved:hover{
    background-color: rgb(199, 202, 202);
    transition: background-color .5s;  }

    .btnn:hover{
        background-color: rgb(199, 202, 202);
        transition: background-color .5s;  }



.princ{
    background-color: #F0F0F0;
}
.sidenav{
    background-color: #12579C;
}

.coll{
    color: #2B638C;
    font-family: 'Lato', sans-serif;
    font-size: 50px;


}

.pat{
    position: absolute;
    height: 9%;
    right: 50%;
}
/*Comentario*/



.block {
    font-size: 19px;
    padding: 5px;
    border: 1px solid #12579C ;
    border-radius: 3%;
}

.butt{
    position: absolute;
left: 85%;
background-color: #12579C   ;

}

.butt2{
    background-color: #12579C   ;
}
.butt3{
    background-color: #12579C   ;
    position: absolute;
    left: 15%;
}


.dragd{
    text-align: center;
    color: #12579C;
    font-family: 'Lato', sans-serif;
}

.botdrag{
    background-color: #12579C   ;
}

.heed{
    position: absolute;
left: 20%;
color: #12579C;

}
.heed2{
    position: absolute;
left: 16%;
color: #12579C;
}

.fa-sort{
    position: relative;
    left: 95%;
    color: #12579C;
}


.slide{
    color: #12579C;
    position: absolute;
    left: 75%;
    }

.back{
    position: absolute;
    right: 50%;

    }

.ahead{
    position: absolute;
    right: 50%;
}

.dragd{
font-size: 30px;
}
