<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<div>
  <div class="row">
    <!--Area de funcionalidad-->
    <div class="col-sm p-3 min-vh-100 dimen" style="max-width: 30rem">
      <div>
        <h1 class="title">Usuarios</h1>
        <br />

        <!--Buscador-->
        <div class="input-group rounded" style="max-width: 15rem">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            [(ngModel)]="search"
          />
          <span class="input-group-text border-0" id="search-addon">
            <mat-icon>search</mat-icon>
          </span>
        </div>
        <br />
      </div>
      <div><em (click)="filter()" class="fa-solid fa-sort filt"></em></div>

      <div class="card" *ngFor="let user of users | search: search">
        <div class="card-body hoved" (click)="findById(user.id)">
          <em
            *ngIf="user.status == 1"
            class="fa-solid fa-circle text-success"
          ></em>
          <em
            *ngIf="user.status == 0"
            class="fa-solid fa-circle text-secondary"
          ></em>
          {{ user.name }}
        </div>
      </div>
      <div>
        <em
          class="back"
          (click)="goBack()"
          class="fas fa-angle-double-left fa-2x heed2"
        ></em>
        <em
          class="ahead"
          (click)="goAhead()"
          class="fas fa-angle-double-right fa-2x heed"
          style="color: #12579c"
        ></em>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100 dim2">
      <div class="card border-primary">
        <div class="card-body">
          <!--Titulos y nombres-->

          <p class="coll">Editar</p>
          <mat-slide-toggle
            name="status"
            #status="ngModel"
            [(ngModel)]="getUser.status"
            class="slide"
            *ngIf="getUser.name && getUser.email"
          >
            <div *ngIf="getUser.status == 1">Activo</div>
            <div *ngIf="getUser.status == 0">Inactivo</div>
          </mat-slide-toggle>
          <br />

          <div>
            <div class="container card-0 justify-content-center" dir="rtl">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      [disabled]="!getUser.email"
                      #email="ngModel"
                      [(ngModel)]="getUser.email"
                      matInput
                      placeholder="Email"
                      name="email"
                      required="true"
                    />
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="ott" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      [disabled]="!getUser.name"
                      #name="ngModel"
                      [(ngModel)]="getUser.name"
                      matInput
                      placeholder="Nombre"
                      name="nombre"
                      required="true"
                    />
                  </mat-form-field>
                  <div *ngIf="this.editProfile == true">
                    <em
                      (click)="goBackProfiles()"
                      class="back"
                      class="fas fa-angle-double-left fa-2x heed2"
                    ></em>
                    <em
                      class="ahead"
                      (click)="goAheadProfiles()"
                      class="fas fa-angle-double-right fa-2x heed"
                      style="color: #12579c"
                    ></em>
                  </div>
                </div>
                <div class="col-sm-6 fort">
                  <mat-form-field
                    appearance="fill"
                    *ngIf="this.editProfile == false"
                  >
                    <mat-label>Mi perfil</mat-label>
                    <select
                      matNativeControl
                      name="profile"
                      #profile="ngModel"
                      [(ngModel)]="getUser.profile"
                    >
                      <option
                        [disabled]="true"
                        [value]="myProfile.id"
                        [selected]="myProfile.name"
                      >
                        {{ myProfile.name }}
                      </option>
                    </select>
                  </mat-form-field>
                  <mat-form-field
                    appearance="fill"
                    *ngIf="this.editProfile == true"
                  >
                    <mat-label>Mi perfil</mat-label>
                    <select
                      matNativeControl
                      name="profile"
                      #profile="ngModel"
                      [(ngModel)]="getUser.profile"
                    >
                      <option
                        *ngFor="let profile of profiles"
                        [value]="profile.id"
                      >
                        {{ profile.name }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="dragd">Asignación de empresas</p>
          </div>
          <br />
          <div class="input-group rounded" style="max-width: 15rem">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              [(ngModel)]="search"
            />
            <span class="input-group-text border-0 sear" id="search-addon">
              <mat-icon>search</mat-icon>
            </span>
          </div>
          <br />
          <div class="row">
            <div
              cdkDropList
              class="col-6"
              #ln1="cdkDropList"
              [cdkDropListData]="listNumbers1"
              [cdkDropListConnectedTo]="[ln2]"
              (cdkDropListDropped)="drop($event)"
            >
              <!--DRAG-->

             

              <form action="" cdkDrag
              class="block block-2"
              *ngFor="let n of listNumbers1"
              name="profile"
              #profile="ngModel"
              [(ngModel)]="getUser.profile"> 
                             <span>{{ n.name }}</span>
            </form>

              <br />

              <button
                (click)="addEnterprise()"
                type="button"
                class="btn btn-primary botdrag"
              >
                Agregar Empresa
              </button>
            </div>
            <div
              cdkDropList
              class="col-6"
              #ln2="cdkDropList"
              [cdkDropListData]="listNumbers2"
              [cdkDropListConnectedTo]="[ln1]"
              (cdkDropListDropped)="drop($event)"
            >
              <!--DRAG-->

             

              <form action="" cdkDrag
              class="block block-2"
              *ngFor="let n of listNumbers2"
              name="profile"
              #profile="ngModel"
              [(ngModel)]="getUser.profile"> 
                             <span>{{ n }}</span>
            </form>

             
            </div>
          </div>
          <br />
          <div>
            <button
              (click)="putProfile(getUser.id)"
              [disabled]="!name.valid || !email.valid"
              type="button"
              class="btn btn-primary butt2"
            >
              Guardar
            </button>
            <button
              (click)="cambiarPerfil()"
              [disabled]="!name.valid || !email.valid"
              type="button"
              class="btn btn-primary butt3"
            >
              Cambiar perfil
            </button>
            <button
              mat-mini-fab
              color="black"
              type="button"
              class="btn btn-primary butt"
              (click)="openDialog()"
            >
              <mat-icon>note_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
