<router-outlet></router-outlet>


   
    <div>
        <app-sidenav></app-sidenav>


    <div class="row">
      

           <!--Area de funcionalidad-->     


        <div class="col-sm p-3 min-vh-100 dimen" style="max-width: 30rem;">
            <div>
                <h1 class="title">Usuarios</h1><br>

           <!--Buscador-->     


                <div class="input-group rounded" style="max-width: 15rem;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <mat-icon>search</mat-icon>
                    </span>
                  </div><br>

            </div>
            <div class="card">
                <div class="card-body hoved">
                  Administrador
                </div>
                <div class="card-body hoved">
                    Administrador dos
                  </div>
                  <div class="card-body hoved">
                    Administrador tres
                  </div>
                  <div class="card-body hoved" >
                    Administrador Cuatro
                  </div>
              </div>
       
              
        </div>
        <div class="col-sm p-3 min-vh-100 dim2" >
            <div class="card border-primary " >
                <div class="card-body">

                <!--Titulos y nombres-->     


                    <p class="fs-1">Agregar</p> 
                    <p class="text-decoration-underline">Administrador</p><br>
                    <p class="fs-2">Acessos</p>
                        <div class="card-header">
                          Configuración
                        </div>
                            
                        <div class="card-body border-primary">
                          <blockquote class="blockquote mb-0">
                            <table class="table table-bordered tabod">

                                <tbody>

                             <!--Opciones-->     

                                <tr>

                                <td>     
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" value="" id="check1">
                                        <label for="check1" class="form-check-label">Opción 1</label>
                                    </div>
                                </td>

                                <td>     
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" value="" id="check1">
                                        <label for="check1" class="form-check-label">Opción 1</label>
                                    </div>
                                </td>
                                       
                                <td>     
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" value="" id="check1">
                                        <label for="check1" class="form-check-label">Opción 1</label>
                                    </div>
                                </td>
                                    </tr>
                                    <tr>

                                        <td>     
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" value="" id="check1">
                                                <label for="check1" class="form-check-label">Opción 1</label>
                                            </div>
                                        </td>
        
                                        <td>     
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" value="" id="check1">
                                                <label for="check1" class="form-check-label">Opción 1</label>
                                            </div>
                                        </td>
                                               
                                        <td>     
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" value="" id="check1">
                                                <label for="check1" class="form-check-label">Opción 1</label>
                                            </div>
                                        </td>
                                            </tr>
                                 
                                  </tbody>
                                </table>
                          
                          </blockquote>
                        </div>
                        <div class="card-header">
                            Operaciones
                          </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                              <table class="table table-bordered">
  
                                  <tbody>
  
                               <!--Opciones-->     
  
                                  <tr>
  
                                  <td>     
                                      <div class="form-check form-switch">
                                          <input type="checkbox" class="form-check-input" value="" id="check1">
                                          <label for="check1" class="form-check-label">Opción 1</label>
                                      </div>
                                  </td>
  
                                  <td>     
                                      <div class="form-check form-switch">
                                          <input type="checkbox" class="form-check-input" value="" id="check1">
                                          <label for="check1" class="form-check-label">Opción 1</label>
                                      </div>
                                  </td>
                                         
                                  <td>     
                                      <div class="form-check form-switch">
                                          <input type="checkbox" class="form-check-input" value="" id="check1">
                                          <label for="check1" class="form-check-label">Opción 1</label>
                                      </div>
                                  </td>
                                      </tr>
                                      <tr>
  
                                          <td>     
                                              <div class="form-check form-switch">
                                                  <input type="checkbox" class="form-check-input" value="" id="check1">
                                                  <label for="check1" class="form-check-label">Opción 1</label>
                                              </div>
                                          </td>
          
                                          <td>     
                                              <div class="form-check form-switch">
                                                  <input type="checkbox" class="form-check-input" value="" id="check1">
                                                  <label for="check1" class="form-check-label">Opción 1</label>
                                              </div>
                                          </td>
                                                 
                                          <td>     
                                              <div class="form-check form-switch">
                                                  <input type="checkbox" class="form-check-input" value="" id="check1">
                                                  <label for="check1" class="form-check-label">Opción 1</label>
                                              </div>
                                          </td>
                                              </tr>
                                   
                                    </tbody>
                                  </table>
                            
                            </blockquote>
                          </div>
                          <button class="btnn" mat-stroked-button color="primary">Guardar</button>

                      </div>
                   


                
              </div>
        </div>
    </div>
</div>


