<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<div>
  <div class="row layout">
    <!--Area de funcionalidad-->
    <div class="col-sm p-3 min-vh-100 dimen" style="max-width: 27rem">
      <div>
        <h1 class="title">Usuarios</h1>
        <br />

        <!--Buscador-->
        <div class="input-group rounded" style="max-width: 25rem">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Buscar Usuario"
            aria-label="Buscar"
            aria-describedby="search-addon"
            [(ngModel)]="search"
          />
          <span class="input-group-text border-0 sear" id="search-addon">
            <mat-icon>search</mat-icon>
          </span>
        </div>
        <br />
      </div>
      <div>
        <em
          *ngIf="asc == false"
          matTooltip="Ordenar de manera ascendente."
          (click)="filter()"
          class="fa-solid fa-sort filt"
        ></em>
        <em
          *ngIf="asc == true"
          matTooltip="Ordenar de manera descendente."
          (click)="filter()"
          class="fa-solid fa-sort filt"
        ></em>
      </div>
      <div class="containerProfiles">
        <div class="card" *ngFor="let user of users | search: search">
          <div
            class="card-body hoved"
            (click)="findById(user.id)"
            [ngClass]="{ itemSelected: user?.id === itemSelected }"
          >
            <em
              *ngIf="user.status == 1"
              class="fa-solid fa-circle text-success"
            ></em>
            <em
              *ngIf="user.status == 0"
              class="fa-solid fa-circle text-secondary"
            ></em>
            {{ user.name }}
          </div>
        </div>
      </div>

      <div class="flex-container">
        <em
          class="back bacc"
          (click)="goBack()"
          *ngIf="this.page > 0"
          class="fas fa-angle-double-left fa-2x"
          style="color: #12579c"
        ></em>
        <em
          class="ahead bacc"
          (click)="goAhead()"
          *ngIf="this.totalPages > 0 && !isLast"
          class="fas fa-angle-double-right fa-2x"
          style="color: #12579c"
        ></em>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100 dim2" *ngIf="addUser == true">
      <div class="card border-primary cardHei resp">
        <div class="card-body">
          <div class="flex-container">
            <p class="coll">Agregar</p>
            <mat-slide-toggle
              class=""
              [checked]="true"
              [disabled]="true"
              color="primary"
            >
              <div>Activo</div>
            </mat-slide-toggle>
          </div>

          <br />

          <form #addForm="ngForm">
            <div class="container card-0 justify-content-center">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="other" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      #name="ngModel"
                      [(ngModel)]="postUser.name"
                      matInput
                      placeholder="Nombre"
                      name="nombre"
                      required="true"
                      (change)="validChangeForm()"
                    />
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      #email="ngModel"
                      [(ngModel)]="postUser.email"
                      matInput
                      placeholder="Email"
                      name="email"
                      required="true"
                      (change)="validChangeForm()"
                    />
                  </mat-form-field>
                </div>

                <div class="col-sm-6 fort">
                  <mat-form-field appearance="outline">
                    <mat-label>Selecciona tu perfil</mat-label>
                    <mat-select
                      matNativeControl
                      name="profile"
                      #profile="ngModel"
                      [(ngModel)]="postUser.profile"
                    >
                      <mat-option
                        *ngFor="let info of profiles"
                        [value]="info.id"
                      >
                        {{ info.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
         
          <div style="padding: 2%;">
            <p class="dragd">Asignación de empresas</p>
          </div>
          <div>
            <div class="input-group roud ">
              <input
                type="search"
                class="form-control"
                placeholder="Buscar Empresa"
                aria-label="Buscar"
                aria-describedby="search-addon"
                [(ngModel)]="search2"
                style="align-items: center"
              />
              <span class="input-group-text border-0 sear" id="search-addon">
                <mat-icon>search</mat-icon>
              </span>
            </div>
          </div><br>
          

          <div cdkDropListGroup>
            <div class="example-container">
              <div
                style="height: 150px"
                cdkDropList
                [cdkDropListData]="listNumbers1"
                class="example-list scro"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let n of listNumbers1 | search: search2"
                  cdkDrag
                >
                  {{ n.name }}
                </div>
              </div>
            </div>

            <div class="example-container">
              <div
                style="height: 150px"
                cdkDropList
                [cdkDropListData]="empresas"
                class="example-list scro"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="example-box" *ngFor="let n of empresas" cdkDrag>
                  {{ n.name }}
                </div>
              </div>
            </div>
          </div>

          <div class="flex-container">
            <button
              (click)="postUsers(addForm)"
              [disabled]="!name.valid || !email.valid || postUser.profile == 0"
              type="button"
              class="btn btn-primary butt"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100 dim2" *ngIf="addUser == false">
      <div class="card border-primary cardHei resp">
        <div class="card-body">
          <!--Titulos y nombres-->
          <div class="flex-container">
            <p class="coll">Editar</p>
            <mat-slide-toggle
              name="status"
              #status="ngModel"
              [(ngModel)]="getUser.status"
              class=""
              *ngIf="getUser.name && getUser.email"
              (change)="validChangeForm()"
            >
              <div *ngIf="getUser.status == 1">Activo</div>
              <div *ngIf="getUser.status == 0">Inactivo</div>
            </mat-slide-toggle>
          </div>
          <br /><br />

          <form #addForm="ngForm">
            <div class="container card-0 justify-content-center">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="other" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      [disabled]="!getUser.name"
                      #name="ngModel"
                      [(ngModel)]="getUser.name"
                      matInput
                      placeholder="Nombre"
                      name="nombre"
                      required="true"
                      (change)="validChangeForm()"
                    />
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <mat-label *ngIf="!name.valid && name.touched">
                      requerido</mat-label
                    >
                    <input
                      [disabled]="!getUser.email"
                      #email="ngModel"
                      [(ngModel)]="getUser.email"
                      matInput
                      placeholder="Email"
                      name="email"
                      required="true"
                      (change)="validChangeForm()"
                    />
                  </mat-form-field>
                </div>

                <div class="col-sm-6 fort">
                  <mat-form-field appearance="outline">
                    <mat-label>Mi perfil</mat-label>
                    <mat-select
                      matNativeControl
                      name="profile"
                      #profile="ngModel"
                      [(ngModel)]="getUser.profile"
                    >
                      <mat-option
                        (onSelectionChange)="validChangeForm()"
                        *ngFor="let profile of profiles"
                        [value]="profile.id"
                      >
                        {{ profile.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
          <br />

          <div>
            <p class="dragd">Asignación de empresas</p>
          </div>
          <br /><br />

          <br />
          <div class="row">
            <div cdkDropListGroup>
              <!--OTRO DRAG-->
              <div class="example-container">
                <div
                  style="height: 150px"
                  cdkDropList
                  [cdkDropListData]="listNumbers1"
                  class="example-list scro"
                  (cdkDropListDropped)="drop($event); validChangeEnterprise()"
                >
                  <div
                    class="example-box"
                    *ngFor="let n of listNumbers1 | search: search2"
                    cdkDrag
                  >
                    {{ n.name || n.enterpriseName }}
                    <div class="forev">
                      <mat-icon *ngIf="n.enterpriseName" class="dragg"
                        >check</mat-icon
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="example-container">
                <div
                  style="height: 150px"
                  cdkDropList
                  [cdkDropListData]="getUser.empresas"
                  [cdkDropListConnectedTo]="[ln1]"
                  class="example-list scro"
                  (cdkDropListDropped)="drop($event); validChangeEnterprise()"
                >
                  <div
                    class="example-box"
                    *ngFor="let n of getUser.empresas"
                    cdkDrag
                  >
                    {{ n.enterpriseName || n.name }}
                    <div class="forev">
                      <mat-icon *ngIf="n.enterpriseName" class="dragg"
                        >check</mat-icon
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-container">
            <button
              (click)="putProfile(getUser.id)"
              [disabled]="changeForm && changeEnterprise"
              type="button"
              class="btn btn-primary butt2"
            >
              Guardar
            </button>
            <button
              mat-mini-fab
              color="black"
              type="button"
              class="btn btn-primary butt"
              (click)="habilitar()"
            >
              <mat-icon>note_add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
