

.butt{
    background-color: #12579C   ;
}


.butt2{
    background-color: #12579C   ;
    position: absolute;
    left: 66%;
}

.coll{
    color: #2B638C;
    font-family: 'Lato', sans-serif;
  
  
  }

 .dim2{
    padding-top: 60%;
 }
 